@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container {
  @apply min-w-[320px] min-h-screen;
}
.multi-gradient-text {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-size: 300% 300%;
  background-clip: text;
  color: transparent;
}

.gradient-animation {
  animation: gradient 1.5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent main-gradient;
}

.main-gradient {
  @apply bg-gradient-to-r from-secondary to-primary;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  .hide-scrollbar ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: inherit;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  .dark ::-webkit-scrollbar-track {
    background: inherit;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #2d2d47;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: #2d2d47;
  }
}